* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to top left, #6ba0cb 0%, #526da3 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LAYOUT */
.container {
  position: relative;
  width: 100rem;
  height: 60rem;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
}

.header{
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 280px;
  margin-top: 10px;
  font-size: xx-large;
  font-style: italic;
  color: rgb(26, 58, 119);
  font-weight: 500;
  margin-bottom: 100px;
}

.players{
  
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-left: 600px;
    margin-bottom: 10px;
    margin-top: 500px;
    align-items: center;
  }

  .name {
    position: relative;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 600px;
    font-weight: 300;
    margin-bottom: 1rem;
    padding-top:  5rem;
    text-align: center;
  }
  
  .score {
    font-size: 8rem;
    font-weight: 300;
    color: #12527d;
    margin-bottom: auto;
    margin-left: 600px;
    padding-left:1rem ;
    justify-content: first baseline;
  }

  .current {
    background-color: #12527d;
    opacity: 0.8;
    border-radius: 9px;
    color: #fff;
    width: 65%;
    padding: 2rem;
    text-align: center;
    transition: all 0.75s;
    margin-left: 100px;
  }
  
  .current-label {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.7rem;
    color: #ddd;
  }
  
  .current-score {
    font-size: 3.5rem;
  }
  
  /* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;

  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

/*.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}*/

.btn--roll {
  top: 39.3rem;
}

.btn:focus {
  outline: none;
}

.dice {
  position: absolute;
  left: 50%;
  top: 25rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.dice-1 {
  position: absolute;
  left: 50%;
  top: 25rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  align-items: left;
}

.player--winner {
  background-color: #2f2f2f;
}

.player--winner .name {
  font-weight: 700;
  color: #c7365f;
}

.hidden {
  display: none;
}
